<div class="space-y-4">
  <h3 class="text-lg font-medium leading-6 text-gray-900">Signup failed!</h3>

  <p class="text-sm text-gray-600">Something went wrong. Please try again.</p>

  <button
    type="button"
    class="disabled:opacity-20 justify-center py-4 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-900 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-400"
    (click)="handleRetry()"
  >
    Try again
  </button>
</div>
