<div class="flex bg-gray-400 w-screen h-screen items-center justify-center">
  <div
    class="bg-gray-100 rounded-lg shadow-lg p-8 text-gray-700 w-1/2 max-w-xl"
  >
    <!-- STATUS = SUCCESS -->
    <app-signup-form-success
      *ngIf="(status$ | async) === STATUS.SUCCESS"
    ></app-signup-form-success>

    <!-- STATUS = FAILED -->
    <app-signup-form-failed
      *ngIf="(status$ | async) === STATUS.FAILED"
      (retry)="onRetry()"
    ></app-signup-form-failed>

    <!-- STATUS = SENDING -->
    <app-signup-form-sending
      *ngIf="(status$ | async) === STATUS.SENDING"
    ></app-signup-form-sending>

    <!-- STATUS = EDITING -->
    <app-signup-form-editing
      *ngIf="(status$ | async) === STATUS.EDITING"
      (send)="onSubmit($event)"
    ></app-signup-form-editing>
  </div>
</div>
