<form (ngSubmit)="onSubmit()" [formGroup]="signupForm" class="space-y-4">
  <h3 class="text-lg font-medium leading-6 text-gray-900">Signup form</h3>

  <p class="text-sm text-gray-600">
    Please enter your signup details. All fields are required.
  </p>

  <!-- Render all form fields -->
  <app-signup-input
    *ngFor="let field of signupFields"
    [formGroup]="signupForm"
    [field]="field"
  >
  </app-signup-input>

  <!-- Global form errors -->
  <app-signup-error [formGroup]="signupForm"></app-signup-error>

  <button
    type="submit"
    class="disabled:opacity-20 justify-center py-4 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-900 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-400"
    [disabled]="signupForm.invalid"
  >
    Let's go!
  </button>
</form>
